@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="wrapper">
    <a class="btn btn-primary" asp-page-handler="Generate">Generovat grid</a>
    <link href="~/CSS/stylesheet.css" rel="Stylesheet" type="text/css" />

    @for (var x = 0; x < Model.GS.GridSizeX; x++) {
        <div class="grow" >
            @for (var y = 0; y < Model.GS.GridSizeY; y++) {
                <div class="gcol" >
                    <img src="@("/tiles/tile" + Model.GS.Grid[x][y].ToString() + ".png")" />
                </div>
            }
        </div>
    }
</div>